html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #eef3f9;
    font-family: 'Proxima Nova', sans-serif;
    color: #585858;
}

.container {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:active, 
button:focus,
a:active, 
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus{
  outline: none;
}

._theme-title {
    color: #303030;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

._theme-description {
    color: #6aadf1;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3px;
}

._theme-text-dark {
    color: #303030;
}

._theme-a-blue {
    color: #6aadf1;
}

._theme-a-blue:hover{
    text-decoration: underline;
}

._theme-light-p {
    color: #B0B0B0;
}

._theme-btn {
    background-color: #6aadf1;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 14px;
}
._theme-btn:hover{
    transform: scale(1.05);
}

._theme-btn-white {
    background-color: white;
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

._theme-section-btn-look {
    margin: 0 auto;
}

._theme-btn-look {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8ad377;
    border: 0;
    border-radius: 20px;
    padding: 14px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

._theme-btn-look:hover{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.6);
}

header {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
}

.logo__a {
    font-size: 26px;
    font-weight: 800;
    color: black;
}

.logo__btn {
    border: 0;
    border-top: solid 2px #eef3f9;
    border-radius: 9px;
    padding: 2px 10px;
    color: white;
    font-weight: bold;
    background-color: #6aadf1;
    position: absolute;
    bottom: -11px;
    left: 103px;
}

.header-menu a {
    color: #585858;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
}

.header-btns__busket {
    border: 0;
    background: 0;
}

.busket__img,
.search__img,
._theme-btn-look-img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}


/*Стили для главной*/

.main-head .card-basket .card-busket__btn {
    position: absolute;
    top: 155px;
    left: 55px;
}

.main-title {
    text-align: center;
    margin-bottom: 50px;
}

.main-title__h1 {
    color: #303030;
    font-size: 1.7em;
    font-weight: 200;
    margin-bottom: 0;
}

.main-select {
    margin-bottom: 30px;
}

.card-slider {
    margin-left: 10px;
}

.discounts-information {
    background-color: #eef3f9;
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 180px;
    margin: 80px 0;
}

.discounts-information-img {
    display: flex;
    position: relative;
}

.discounts-information-img__img1 {
    transform: scale(-1, 1);
    width: 150px;
    height: 180px;
}

.discounts-information__p {
    font-size: 14px;
    margin: 20px;
}

.main-information {
    margin: 0 60px;
}

.discounts-information-img__img2 {
    position: absolute;
    width: 200px;
    height: 250px;
    bottom: -114px;
    left: -47px;
}

.recipes {
    margin: 0 auto;
}

.recipe {
    margin: 60px 0 60px 0;
}

.recipe-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-card {
    display: block;
    height: 322px;
    margin-bottom: 15px;
}

.recipe-card__img {
    width: 310px;
    height: 210px;
    border-radius: 5px;
}

.recipe-card__img:hover{
    opacity: 0.8;
}

.recipe-body {
    display: flex;
    flex-direction: column;
}

.recipe-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.recipe-card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.recipe-category {
    display: flex;
    align-items: baseline;
}

.recipe-card__like {
    background: 0;
    border: solid 1px grey;
    padding: 10px 10px 5px 10px;
    border-radius: 50%;
}

.recipe-card__like:hover .recipe-card__like-img{
    width: 17px;
    height: 17px;
}

.recipe-card__like-img {
    width: 15px;
    height: 15px;
}

.recipe-card__h3 {
    max-width: 240px;
    margin: 0;
    font-weight: normal;
}

.client {
    background-image: url(../img/abstract.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.client-card {
    height: 450px;
    padding: 50px 0 0 0;
}

.client-card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.client-card-example {
    position: relative;
    width: 460px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    background-color: #eef3f9;
    padding-bottom: 40px;
}

.client__hr {
    margin-top: 5%;
    background-color: #65b0f3;
    border: 0;
    width: 50px;
    height: 2px;
}

.client-text {
    display: flex;
    align-items: center;
}

.client-text__p {
    text-align: end;
}

.client-text__price {
    display: flex;
    align-items: baseline;
}

.client-text__cost {
    color: #65b0f3;
    font-size: 40px;
    margin-left: 30px;
}

.client-text__rub {
    color: #65b0f3;
    margin-left: 5px;
}

.client-button {
    position: relative;
}

.client-button__btn {
    position: absolute;
    right: -52px;
    bottom: -55px;
}

.client-description {
    text-align: center;
}

.client-description__p {
    margin-top: 0;
}

.client-questions {
    position: relative;
    display: flex;
    height: 337px;
}

.questions-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

.questions-left__title {
    margin: 0;
}

.questions-input {
    background-color: white;
    color: darkgrey;
    border: 0;
    border-radius: 3px;
    padding: 17px;
    width: 222px;
    margin-right: 20px;
}

.questions-input:hover{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.4);
}

.questions-input::placeholder {
    color: #B0B0B0;
}

.send-questions {
    padding: 17px;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
}

.questions-img__img {
    display: block;
    position: absolute;
    z-index: 20;
    height: 380px;
    width: 220px;
    bottom: 1px;
}

.audio {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    background: 0;
    z-index: 10000;
}

.audio audio {
    width: 100%;
}


/*Заканчиваются стили для главной*/

.crumbs {
    display: flex;
    align-items: center;
}

.crumb {
    margin: 0 10px;
}

.crumb:first-child {
    margin: 0 10px 0 0;
}

.products-select {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
}

.products-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-selection products-selection__li{
    background-color: #6aadf1;
    color: white;
} 

.products-selection__li {
    margin: 7px;
    background-color: white;
    color: lightslategray;
    list-style: none;
    cursor: pointer;
    font-size: 13px;
}

.products-selection__li:hover {
    background-color: #6aadf1;
    color: white;
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background-color: #fff;
    border-radius: 15px;
    width: 196px;
    margin-bottom: 2.2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-card:hover{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.6);
}
.card-tags {
    margin: 10px 0;
}

.card-tags__discount {
    background-color: #fd8b4d;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    padding: 2px;
}

.card-tags__popular {
    background-color: #6aadf1;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    padding: 2px;
}

.card-img {
    height: 100px;
    width: 150px;
    cursor: pointer;
}

.card-img img {
    height: 112px;
    width: 134px;
}

#card-orange__img {
    height: 80px;
    width: 134px;
}

.card-description {
    text-align: center;
}

.card-name {
    margin-bottom: 3px;
    font-weight: bold;
}

.card-cost {
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 0;
}

.busket {
    border: solid 1px lightgrey;
}

.busket:hover {
    background-color: #6aadf1;
}

.card-busket__btn {
    position: absolute;
    top: 193px;
    left: 70px;
    background-color: white;
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0 70px 0;
}

.pagination__btn {
    border: 0;
    background: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-weight: bold;
}

.pagination__a {
    color: #303030;
}

.pagination__btn:hover {
    background-color: #8ad377;
}

.pagination__btn:hover > .pagination__a {
    color: white;
}

#active {
    background-color: #8ad377;
}

#active > .pagination__a {
    color: white;
}

.discounts {
    background-image: url(../img/discounts.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
}

.discounts-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discounts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discounts-title-button__btn,
.history-header__btn,
._theme-btn-blue {
    background-color: #6aadf1;
    color: white;
    cursor: pointer;
}

.discounts-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.discounts-cards1,
.discounts-cards2,
.discounts-cards3 {
    display: flex;
    flex-direction: column;
}

.discounts-cards2,
.discounts-cards3 {
    margin-left: 20px;
}

.discount-card {
    display: flex;
    width: 270px;
    height: 114px;
    padding: 10px 15px;
    justify-content: space-around;
    border: solid 2px #eef2f5;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
}

.discount-card:hover{
     box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.6);
}

.discount-card-body{
    align-self: flex-end
}

.discount-card .card-tags{
    position: absolute;
}

.discount-card-description__hr {
    width: 20px;
    align-self: flex-start;
}

.discount-card-description__title{
    margin-top: 0;
}

.discount-card-text {
    display: flex;
    justify-content: space-between;
}

.discount-card-prices{
    margin-right: 15px;
}

.discount-card-prices__price1 {
    margin: 0;
    font-size: 14px;
    color: indianred;
}

.price2 {
    display: flex;
    font-size: 14px;
}

.price2__price2 {
    color: black;
}

.discount-card-big {
    background-color: #eef3f9;
    flex-direction: column;
    position: relative;
    height: 272px;
}

.discount-card__img {
    height: 100px;
    width: 100px;
}

/*
.discount-card__btn{
    margin: 0 15px 10px;
}
*/

.discounts-button__btn {
    margin-bottom: 70px;
}

#img-popular {
    height: 150px;
    width: 260px;
}

.discount-card-text__title {
    font-weight: 400;
}

.discount-card-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history {
    width: 1148px;
    height: 320px;
    margin: 0 auto;
}

.history-article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multiple-item {
    background-color: #fff;
    margin-right: 1em;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.multiple-item:hover {
    background-image: url(../img/abstract.png);
}


/*
.multiple-item:hover > .slider-fruits{
    display: none;
}
*/

.slider-fruits {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}


/* Тут начинаются стили для карточки товара */

.card {
    margin-bottom: 100px;
}

.card_main {
    margin: 100px 0 65px;
}

.card_image {
    text-align: center;
}

.card_image img {
    width: 550px;
}

.card_text {
    display: flex;
    flex-direction: column;
}

.card_text_title {
    text-align: center;
}

.card_text_info_bold {
    font-weight: bold;
}

.card_sideinfo {
    display: flex;
    justify-content: space-around;
}

.card_sideinfo_price {
    display: flex;
    width: 250px;
    justify-content: space-around;
}

.card_sideinfo_price_first {
    text-decoration: line-through;
}

.card_sideinfo_buttons {
    display: flex;
    width: 300px;
}

.card_sideinfo_buttons form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.card_advantages {
    display: flex;
    justify-content: space-around;
}

.card_sidebar_advantage {
    display: flex;
}

.card_sidebar_advantage img {
    width: 20px;
    height: 20px;
    align-self: center;
}

.card_sidebar_advantage_text {
    align-self: center;
    margin-left: 0.5em;
}

.card_text,
.card_sideinfo {
    margin-bottom: 1em;
}

.video_content {
    text-align: center;
}


/* Тут заканчиваются стили для карточки товара */

footer {
    background-color: #fff;
}

.footer-block {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-assortiment {
    display: flex;
    justify-content: space-between;
}

.footer-assortiment1,
.footer-assortiment2 {
    display: flex;
    flex-direction: column;
    margin: 0;
}

._theme-footer-text {
    color: #585858;
    font-weight: bold;
}

.footer-assortiment__li {
    list-style: none;
    margin: 10px;
}

.footer-geo__town {
    background-color: #eef3f9;
    border: 0;
    border-radius: 20px;
    padding: 13px 0 13px 22px;
    color: #B0B0B0;
}

.footer-contacts1__text {
    text-align: center;
    margin-top: 10px;
}
.footer-geo__ul{
    padding: 0;
}

.footer-geo__li,
.footer-contacts1__li,
.footer-contacts2__li {
    list-style: none;
}

.footer-contacts1__number {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.contacts-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-icons__btn {
    background: 0;
    border: 0;
}

.contacts-icons__youtube {
    width: 65px;
    height: 53px;
}

.contacts-icons__facebook {
    width: 70px;
    height: 70px;
}

.contacts-icons__vk {
    width: 50px;
    height: 50px;
}

.footer-contacts2 p {
    font-size: 14px;
}

.footer-contacts1 a {
    font-size: 12px;
    color: #6aadf1;
}

.contacts-mail__a {
    color: #585858;
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .history {
        width: 1080px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .history {
        width: 840px;
    }

    .unvisible {
        display: none;
    }

    .products-selection {
        justify-content: flex-start;
    }

    .products-cards {
        justify-content: flex-start;
    }

    .products-cards .product-card {
        margin-right: 1em;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .history {
        width: 660px;
    }

    .unvisible {
        display: none;
    }

    .products-selection {
        justify-content: flex-start;
    }
}

@media (max-width: 540px) {
    .container {
        width: auto;
    }

    .history {
        width: auto;
    }

    .unvisible {
        display: none;
    }

    .products-selection {
        justify-content: flex-start;
    }
}

.main-slider .slick-current,
.multiple-items .slick-current {
    opacity: 0.5;
    transition: 0.5s opacity linear;
}
